.tmap-container {
  margin: 3rem 2rem;
  border-radius: 8px;
  overflow: hidden;
}

.tmap-map {
  width: 100vw;
  height: 80vh;
}

@media (max-width: 768px) {
  .tmap-container {
    margin: auto;
  }
}